<!DOCTYPE html>
<html>
<head>
	<body>
		<form method="post">
			{% csrf_token %}
			{{form.as_p}}
		</form>
		<h1>payroll generate</h1>
	<div>
	{% if obj %}
	<table>
		<thead>
			<th>employee_name</th>
			<th>employee_id</th>
			<th>working_hours</th>
			<th>v_salary</th>
		</thead>
		{% for o in obj %}
		<tr>
			<td>{{o.employee_name}}</td>
			<td>{{o.employee_id}}</td>
			<td>{{o.working_days}}</td>
			<td>{{o.v_salary}}</td>
			<td>
				<a href="/payroll" class="btn btn-warning">payroll</a></td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	

	
</div>

 

</body>
</html>